[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ipython = "*"
python-language-server = "*"
pytest = "*"
hypothesis = "*"
bumpversion = "*"
mailer = {editable = true, path = "."}

[requires]
python_version = "3.7"
